{% extends "base.html" %}
{% block title %}All Posts{% endblock title %}
{% block content %}
    <section class="dark:text-neutral-200 h-full text-neutral-800 bg-neutral-100 dark:bg-neutral-900 transition-colors duration-300 body-font">
        <h1 class="text-3xl font-bold text-center w-full">Posts</h1>
        <div class="container px-5 py-4 mx-auto">
            {% for post in data.Data %}
            <div class="page-content">
                <div class="card bg-cover" style=" background-image: url('{{ post.Header_image }}');">
                  <div class="content">
                    <h2 class="title">{{ post.Title }}</h2>
                    <p class="copy">{{ post.Description }}</p>
                    <span class="mt-1 text-neutral-500 text-sm">{{ post.Date }}</span>
                    <a href="/post/{{ post.Slug }}">View</a>
                  </div>
                </div>
              </div>
            {% endfor %}
            {% if data.TotalPages > 1 %}
                <div class="max-w-full my-4">
                    {% if data.CurrentPage > 1 %}
                        <a href="/posts/page/{{ data.CurrentPage-1 }}" class="mr-2 text-blue-500">Previous</a>
                    {% endif %}
                    <span class="dark:text-neutral-200 text-neutral-800">{{ data.CurrentPage }} / {{ data.TotalPages }}</span>
                    {% if data.CurrentPage < data.TotalPages %}
                        <a href="/posts/page/{{ data.CurrentPage+1 }}" class="mr-2 text-blue-500">Next</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </section>
{% endblock content %}